.user-component__text {
    position: relative;
}

.user-component__text span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 10px;
    height: 10px;
    color: tomato;
    right: -20px;
    top: 34px;
}

.more-screen .icon-row{
    margin-top: 30px;
}

.more-suggestions {
    margin-top: 50px;
    border-top: var(--main-border);
    padding-top: 40px;
}

.more-suggestions__title {
    margin-bottom: 30px;
}

.more-suggestions__icons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.more-suggestions__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.more-suggestions__icon-image {
    width: 60px;
    height: 60px;
    background-color: var(--yellow);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.more-suggestions__icon-image i {
    font-size: 32px;
    color: white;
}

